<div>
  <link href="./cards-container.css" rel="stylesheet" />
  <div class="cards-container-cards-container">
    <div class="cards-container-container">
      <div class="cards-container-team-card">
        <div class="cards-container-avatar-container">
          <a
            href="https://twitter.com/cryptooonfts?s=21&amp;t=qWM-NDFjqfb0A5PJUmjOzQ"
            target="_blank"
            rel="noreferrer noopener"
            class="cards-container-link"
          >
            <img
              alt="image"
              src="public/playground_assets/9-200h.png"
              class="cards-container-image"
            />
          </a>
        </div>
        <a
          href="https://twitter.com/cryptooonfts?s=21&t=qWM-NDFjqfb0A5PJUmjOzQ"
          target="_blank"
          rel="noreferrer noopener"
          class="cards-container-name card-Heading"
        >
          <span>Professor Robbie</span>
        </a>
        <span class="cards-container-position">
          <span class="card-Text">Founder /</span>
          <span>Creative</span>
          <span class="card-Text">Director</span>
        </span>
      </div>
    </div>
    <div class="cards-container-team-card1">
      <div class="cards-container-container1">
        <div class="cards-container-avatar-container1">
          <a
            href="https://twitter.com/scottmitchell18?s=21&amp;t=qWM-NDFjqfb0A5PJUmjOzQ"
            target="_blank"
            rel="noreferrer noopener"
            class="cards-container-link1"
          >
            <img
              alt="image"
              src="public/playground_assets/13-200h.png"
              class="cards-container-image1"
            />
          </a>
        </div>
      </div>
      <a
        href="https://twitter.com/scottmitchell18?s=21&t=qWM-NDFjqfb0A5PJUmjOzQ"
        target="_blank"
        rel="noreferrer noopener"
        class="cards-container-name1 card-Heading"
      >
        <span>Scott Mitchell</span>
      </a>
      <span class="cards-container-position1 card-Text">
        <span>Developer Team Leader</span>
      </span>
    </div>
    <a
      href="https://twitter.com/Mike_NFT_Addict?s=20&amp;t=6dIuBgf-NergiYy7bm-0GQ"
      target="_blank"
      rel="noreferrer noopener"
      class="cards-container-link2"
    >
      <div class="cards-container-team-card2">
        <div class="cards-container-avatar-container2">
          <img
            alt="image"
            src="public/playground_assets/10-200h.png"
            class="cards-container-image2"
          />
        </div>
        <span class="cards-container-name2 card-Heading">
          <span>Mike </span>
        </span>
        <span class="cards-container-position2 card-Text">
          <span>Community Manager</span>
        </span>
      </div>
    </a>
    <div class="cards-container-team-card3">
      <div class="cards-container-avatar-container3">
        <img
          alt="image"
          src="public/playground_assets/4-200h.png"
          class="cards-container-image3"
        />
      </div>
      <span class="cards-container-name3 card-Heading">
        <span>Daniel</span>
      </span>
      <span class="cards-container-position3 card-Text">
        <span>Community Manager</span>
      </span>
    </div>
  </div>
</div>
