<div>
  <link href="./team-card.css" rel="stylesheet" />
  <a
    href="https://twitter.com/Mike_NFT_Addict?s=20&amp;t=6dIuBgf-NergiYy7bm-0GQ"
    target="_blank"
    rel="noreferrer noopener"
  >
    <div class="team-card-team-card">
      <div class="team-card-avatar-container">
        <img
          alt="image"
          src="public/playground_assets/10-200h.png"
          class="team-card-image"
        />
      </div>
      <span class="team-card-name card-Heading"><span>Mike </span></span>
      <span class="team-card-position card-Text">
        <span>Community Manager</span>
      </span>
    </div>
  </a>
</div>
